<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inverse Kinematics Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Kinematics Calculator</h1>
        <form action="/calculate" method="post">
            <label for="endpoints">Enter Endpoint Coordinates (comma separated values as a tuple)</label>
            <input type="text" name="endpoints" id="endpoints" required>
            <button type="submit">Calculate</button>
            <button id="view-visualization" type="button">View Visualization</button>
        </form>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </div>
</body>
</html>
