<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inverse Kinematics Arm Visualizer</title>
</head>
<body>
    <h1>Inverse Kinematics Arm Visualizer</h1>
    <form action="/calculate" method="POST">
        <label for="endpoints">Enter Endpoints (separated by spaces):</label>
        <br>
        <textarea name="endpoints" id="endpoints" rows="5" cols="40"></textarea>
        <br>
        <input type="submit" value="Calculate">
    </form>
</body>
</html>
